html {
 position: relative;
 min-height: 100%;
}
body {
  margin-bottom: 90px !important;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fafafa url("https://res.cloudinary.com/cj-odina/image/upload/v1537715062/Background_wkvut1.svg") repeat-y;
  background-size: 100%;
  font-family: Georgia, serif;
}
.containers {
 width: auto;
 max-width: 680px;
 padding: 0 15px;
}
.loader {
 position: absolute;
 z-index: 1;
 margin-top: -110Px;
 margin-left: -100Px;
 left: 50%;
 top: 40%;
}
.divider {
 border-right: 0.75px solid rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
 .divider {
   border-bottom: 0.75px solid rgba(0, 0, 0, 0.5);
   border-right: 0 solid rgba(0, 0, 0, 0.5);

 }
}
