.auth-submit-btn {
  background-color: #2164C0;
  opacity: 0.8;
  color: white;
}
.form-input {
  background-color: #FCFCFC;
  border-radius: 10px;
}
.login-text {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1em;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.invalid-feedback {
  color: rgb(218, 102, 102);
  display: block;
  text-align: center;
}
.success-feedback {
  color: rgb(8, 153, 8);
  display: block;
  text-align: center;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
