@import url('https://fonts.googleapis.com/css?family=family=Pacifico');
$ff-c: 'Pacifico', cursive;
$pink-color: #d62956;
$white-color: #f1f1f1;
$fw-b: 900;

.App {
  text-align: center;

  .start {
    color: $white-color;
    font-weight: $fw-b;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;

  .intro {
    color: $pink-color;
    margin: 2em;
    text-transform: uppercase;
    font-family: $ff-c;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
